#main{
    display:flex;
    /* margin-bottom:10px; */
}
.thumbnailO{
    height:500px;
    width:50%;
z-index:100; 
cursor: pointer; 

}

.thumbnailO:hover { 
transform: scale(1.1); 


}
body{
    background-color: rgb(23, 19, 19);
}

.thumbnailT{
    height:500px;
    width:50%;
z-index:500; 
cursor: pointer; 

}
.thumbnailT:hover { 
transform: scale(1.1); 


}
#up{
    height:70px;
    width:100%;
    /* padding-bottom:20px; */
    margin-bottom:20px;
}
#khali{
    height:70px;
    width:100%;
    margin-top:40px;
}