* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
/* #header {
  width: 100%;
  height: 50px;
  background-color: gray;
} */
#container {
  /* background-color: blue; */
  margin: auto;
  width: 100%;
  height: 1000px;
  padding: 20px;
  display: flex;
}
.rightBox {
  width: 100%;
  position: relative;
  left: 3px;
  z-index: -10;
}
.top {
  text-align: right;
}
.bottom {
  width: 100%;
  /* background-color: yellow; */
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.strike {
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 400;
  color: gray;
}
/* .itemBox {
  width: 80px;
} */
.name {
  /* width: 20px; */
  font-size: 13px;
  font-weight: 700;
  margin-top: 5px;
}
.offer{
  font-size: 11px;
  font-weight: 600;
  margin-top: 5px;
}
.price{
  font-size: 14px;
  font-weight: 500;
}
.stocks{
  font-size: 12px;
  font-weight: 400;
  background-color: #f95b5b;
  padding: 1px 8px 1px 8px;
  color: white;
  border-radius: 50px;
}
.filter {
  padding-top: 15px;
  padding-bottom: 15px;
}
.total {
  margin-top: 15px;
  margin-left: 170px;
  display: flex;
}
.total p {
  font-size: 25px;
  font-weight: 700;
  /* background-color: aquamarine; */
}
#totalNum {
  color: #949494;
  font-weight: 550;
  padding-left: 10px;
}
.filterCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 100%;
}
/* // for leftBox */
.side-bar {
  /* background: rgba(255, 255, 255, 0.1); */
  height: 100vh;
  position: sticky;
  top: 20px;
  /*overflow-y: auto;*/
  padding-right: 10px;
  margin-left: 10%;
 width: 25%;
  /* border: 5px solid red; */
}
.side-bar .man {
  width:50px;
  margin-top: 80px;
}
.side-bar .map .item {
  
  cursor: pointer;
}
.side-bar .menu .item a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: block;
  /* padding: 5px 30px; */
  line-height: 50px;
}
.side-bar .menu .item>a{
  border-bottom: 1px solid rgb(195, 195, 195);
}
.side-bar .menu .item a:hover {
  /* background-color: gray; */
  transition: 0.3s ease;
}
.side-bar .menu .item {
  margin-right: 15px;
}
.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0px;
  margin: 20px;
  transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}
.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
}
.side-bar .menu .item .sub-menu a {
  padding-left: 20px;
  font-size: 13px;
  color: #636262;
}
::-webkit-scrollbar{
  display: none;
}
.pageLocation {
  margin-left: 180px;
  margin-top: 20px;
  font-size: 12px;

}

/**=======================
 * !      Sorting division
 *========================**/

 #sortingDiv {
  width: 98%;
  height: 100px;
  display: flex;
  justify-content:flex-end;
  margin: auto;
  align-items: flex-end;
  font-size: 20px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.sortbtn {
  width: 100px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
}

/* .sortbtn:nth-child(1) {
  border: 1px solid rgb(36, 174, 177);
  color: rgb(36, 174, 177);
} */

.sortHover {
  border: 1px solid rgb(36, 174, 177);
  color: rgb(36, 174, 177);
}

.sortbtn:hover {
  border: 1px solid rgb(36, 174, 177);
  color: rgb(36, 174, 177);
}
