body{
    max-width: 1700px;
}
#upper_navbar{
    padding: 8px 0 5px ;

font-size: 10px;
font-weight: 500;
/* border:1px solid grey; */
width: 100%;
display: inline-block;

background-color: #EEEEEE;
display:flex;
justify-content: space-between;
margin-top:-8px;

}
#lower_navbar{
width: 100%;
background: #fff;
height: 55px;
/* line-height: 52px; */
border-bottom: 1px solid rgba(0,0,0,.2);
position: relative;
/* border:1px solid blue; */
display:flex;
}
#bewakoof{
height:100%;
width:20%;
/* border:1px solid red; */
}
#diff_pages{
height:100%;
width:35%;
/* border:1px solid green; */

}
#first_div{
height:100%;
width:25%;
/* border:1px solid yellow; */
margin-left:30px;
}

#bg_lg_ws_div{
height:100%;
width:20%;
/* border:1px solid pink; */
}
#bewakoof_image{
height: 18px;
/* vertical-align: middle; */
margin-bottom: 5px;
width: 167px;

display: block;
margin-left: 130px;
margin-right: auto;
align-items: center;
margin-top:15px;

}
/* #diff_pages{
position: static; 
 padding: 0;

} */
#Capitals{
display: inline-table;
font-size: 13px;
font-family: montserrat,sans-serif;
/* vertical-align: middle; */
line-height: 45px;
/* padding: 0 6px; */
letter-spacing: 1px;
/* position: relative; */
cursor: pointer;
padding-left:15px;
padding-top:10px;
margin-top:5px;

}
#LN_anchor{
text-decoration: none;
color:#000000E6;
display: block;
margin-left: 10px;
margin-right: auto;
align-items: center;
margin-top:-10px;
}
#second_div{
border:1px solid black;
height:70%;
width:90%;
margin-top:5px;
padding-top:6px;
display:flex;
background: #eaeaea;
border-radius: 5px;
border: 0;



}

#searchImage{
height:21px;
width:21px;
margin:10px 0 0 5px;
background-color: transparent;

}
#searchInput{
padding: 15px;
font-size: 12px;
line-height: 1.5;
box-shadow: none;
width: 100%;
background: #eaeaea;
border: 1px solid transparent;
color: rgba(0,0,0,.5);
border-radius: 5px;
position: relative;
margin-left:10px;
height:80%;
/* transition: all .1s ease-in .1s; */
}
#login_image{
height:30px;
width:30px;
padding-left:15px;
padding-top:15px;
}
#heart_image{
height:30px;
width:30px;
margin-left:10px;
}
#bag_image{
height:30px;
width:30px;
margin-left:10px;

}
#L_anchor{
font-size: 100%;
vertical-align: baseline;
background: transparent;
outline: none;
text-decoration: none;
color: rgba(0,0,0,.8);
font-family: montserrat,sans-serif;
padding:15px;
letter-spacing: 1px;

}
#R_anchor{
font-size: 100%;
vertical-align: baseline;
background: transparent;
outline: none;
text-decoration: none;
color: rgba(0,0,0,.8);
margin: 8px;
font-family: montserrat,sans-serif;
margin-right:20px;
letter-spacing: 1px;


}
#L1_anchor{
font-size: 100%;
vertical-align: baseline;
background: transparent;
outline: none;
text-decoration: none;
color: rgba(0,0,0,.8);
margin: 8px;
font-family: montserrat,sans-serif;
margin-left:150px;
letter-spacing: 1px;

}
#R2_anchor{
font-size: 100%;
vertical-align: baseline;
background: transparent;
outline: none;
text-decoration: none;
color: rgba(0,0,0,.8);
margin: 8px;
font-family: montserrat,sans-serif;
margin-right:160px;
/* letter-spacing: 1px; */

}