*{
    margin: 0;
}
#flogOTP{
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
hr {
    border: none;
    border-top: 0.1px double rgb(194, 191, 191);
    color: rgb(177, 174, 174);
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 300px;
    
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}
#otp_box{
   margin-top: 30px;
    
}
.otpInput{
    width: 70px;
    text-align: center;
    height: 50px;
    font-size: 30px;
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom:1px solid rgb(132, 118, 118) ;
    outline: none;
}
.otpInput:hover{
    border-bottom:1.5px solid rgb(0, 0, 0) ;
}
#otp{
    display: flex;
    gap: 20px;
}
#Mobnumber{
    height: 20px;
    margin-top: 5px;
    
}
#forlogingbut{
    background-color: rgb(32, 130, 130);
    border: 1px solid rgb(32, 130, 130);
    color: white;
    font-size:20px;
    width: 350px;
    height: 57px;
    border-radius:4px;
    margin-left: 5px;
}