
   h1{
           font: 24px montserrat, sans-serif;
           font-weight: bold;
           margin-bottom: 40px;
           margin-left: 150px;
        
       }
       h1>hr{
           width: 11%;
           margin-right: 1290px;
           border:1.3px solid #fdd835 ;
           background-color: #fdd835;
           
        } 
        #product_container{
            width: 80%;
             display: grid;
             grid-template-columns: repeat(3,1fr);
             gap: 20px;
            
             grid-row-gap: 50px;
            margin: auto;
            z-index:-10 ;
            
        }  
     #productMat{
         text-align: start;
     }
     img{
         height: 80%;
     }
     .priceOf{
         text-decoration: line-through;
     }
    img:hover{
        
        height: 81%;
        color: antiquewhite;
        cursor: pointer;
        opacity: 0.5 ;
        z-index:-20;
               
         
         
}
p{
    font-size: 40px;
}

#countcol{
    color: #9da3aa;
}
button{
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0px;
}
button:hover{
  background-color: rgb(239, 238, 183);
  color: rgb(43, 64, 64);
}


#topbar{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    font-family:montserrat,sans-serif; 
    position: sticky; 
    top:0; 
}
#topbar a:hover{
color:gray;

}
/* left part */
.left{
        display: flex;
        justify-content: space-evenly;
        background-color: #eee;
        height: 20px;
        box-sizing: border-box;
        padding: 3px;
        margin-left: -140px;
        font-size: 12px;  
}
.left a{
text-decoration: none;
color: #333333;
margin: 14px;
}

/* right part */
.right{
    display: flex;
    justify-content: right;
    background-color: #eee;
    box-sizing: border-box;
    height: 20px;
    padding: 3px;
    font-size: 12px;
}
.right a{
    text-decoration: none;
    color:#333333;
    margin-right: 3rem;
}
/* Navbar */

#navbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 0px;
    padding-top:5px;
    font-family:montserrat,sans-serif;
    border-bottom: #5c5a5a 1px solid;
    background-color:white;
    position: sticky;
    top:0px;
    cursor: pointer;
    font-size: 14px;
}
#navbar a:hover{
    color: cyan;
    z-index: 100;
}
.navleft{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    
    
}
#p-logo{
    margin-top: 0px;
}
#p-logo img{
    width: 150px;
    height: 20px;
    padding: 2px;
    margin-bottom: 3px;
}
.navleft a{
    text-decoration: none;
    color: #333333;
}

.Msub-menu{
    display:none;
    margin-top: 20px;
    position: sticky;
    top:30px;
}
.navleft a:hover+.Msub-menu{
display: block;
position: absolute;
background-color:rgb(250, 195, 15);
opacity: 0.7;
color: BLACK;
position:stiky;
}
.Msub-menu ul{
    list-style: none;
    display: block;
    margin-top: 15px ;
    
}
.Msub-menu ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    text-align: center;
    
}
.Msub-menu ul h4{
 text-align: center;
 border-bottom: 1px dotted;
}

.navright{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: px;
    margin-top: 0px;
    
}
.navright a{
    text-decoration: none;
    font-size:14px;
    color: #333333;
    margin: 15px;
}

@media only  screen and (min-width:70px) and (max-width:720px){

  #product_container{
            display: grid;
             grid-template-columns: repeat(2,1fr);
             gap: 30px;
            
             grid-row-gap: 30px;
            /* margin: auto; */
            
        }
        #productMat{
          height: 200px;
          width: 150px;
        }  

}

     
    